<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Test Vault</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <div class="content-wrapper">       
            <div class="center">
                <p class="site-title"><a href="/">Test Vault</a></p>
            </div>
        </div>
    </header>
    <div id="body">
        <table>
        <tr>
            <td><a href="../experiments"><img src="../../Images/Experiments.png" alt="Experiments" /></a></td>
            <td><a href="../schedules"><img src="../../Images/Schedules.png" alt="Schedules" /></a></td>
            <td><a href="../people"><img src="../../Images/People.png" alt="Users" /></a></td>
        </tr>
            <td><a href="../components"><img src="../../Images/Components.png" alt="Components" /></a></td>
            <td><a href="../dataanalysis"><img src="../../Images/DataAnalysis.png" alt = "Data Analysis" /></a></td>
            <td><a href="../labresources"><img src="../../Images/LabResources.png" alt="Lab Resources" /></a></td>
        </table>
    </div>
</body>
</html>
